.container-1{
    display: grid;
    grid-template-columns:  3fr 3fr;
}
.itens{
    background-color: rgb(208, 159, 253);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px dashed rgb(240, 224, 255);
}
.container-2{
    display: grid;
    grid-template-columns:  repeat(3,3fr);
}
.container-3{
    display: grid;
    grid-template-columns:  3fr 3fr 3fr 3fr;
}
.container-4{
    display: grid;
    grid-template-columns:  2fr;
}

.container-5{
    display: grid;
    grid-template-columns:  1fr 2fr;
}

.container-6{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.container-7{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}

.container-8{
    display: grid;
    grid-template-columns:  3fr 3fr ;
}

.container-9{
    display: grid;
    grid-template-columns:  1fr 3fr 1fr ;
}

.container-10{
    display: grid;
    grid-template-columns:  repeat(4,3fr);
}

.container-11{
    display: grid;
    grid-template-columns:  1fr 2fr 3fr;
}

.container-12{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 3fr;
}

.container-13{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr ;
}

.container-14{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 3fr ;
}

.container-15{
    display: grid;
    grid-template-columns:  2fr 1fr 2fr ;
}
.container-16{
    display: grid;
    grid-template-columns:  3fr 3fr 3fr 3fr 3fr 3fr 3fr  ;
}

.container-17{
    display: grid;
    grid-template-columns:  1fr 1fr 3fr 1fr ;
}

.container-18{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
}

.container-19{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

.container-20{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr 2fr 1fr 2fr;
}


.container-21{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr  ;
}


.container-22{
    display: grid;
    grid-template-columns:  repeat(4,1fr) 4fr 1fr  ;
}

.container-23{
    display: grid;
    grid-template-columns: repeat(3,1fr) 2fr 3fr repeat(3,1fr) ;
}

.container-24{
    display: grid;
    grid-template-columns: repeat(6,1fr) 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.container-25{
    display: grid;
    grid-template-columns: repeat(10,1fr) 1fr ;
}

.container-26{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr ;
}

.container-27{
    display: grid;
    grid-template-columns: repeat(6,2fr) 2fr repeat(6, 2fr);
}

.container-28{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr 4fr 2fr 1fr 3fr;
}

.container-29{
    display: grid;
    grid-template-columns: 1fr 3fr  4fr 3fr 1fr;
}